doctype html
html(lang="en")
link(rel='stylesheet' href='css/student3.css')

head
    title Chronomancy Masters Program
body
    h1 Maria Gomez Baeza
    h2 Temporal Engineering

section
    h2 Location
    p University of AWESOME!

section 
    h2 About

    section 
    h3 Temporal Manipulation
    p Students will learn how to slow, accelerate and reverse brief moments of time.

    section 
    h3 Ethics of Time Manipulation
    p As part of their ethical training, students are required to take the Vow of Temporal Responsibility. The vow is a reminder that time, once altered, cannot be undone.

    section
    h3 Temporal Strategies
    p Students will explore the use of time magic in tactical scenarios, enhancing both defense and offense in dynamic environments.

section
    h2 Things To Do
    ul 
        li Traverse the Lands Between - discover hidden time-rifts on campus, where past and future collide
        li Join the Chrono Tournaments - Compete in battles where majors from all over the campus engage in time-based duels
        li Seek the Eternal Flame - Legend says the Eternal Flame can restore lost moments and allow one to glimpse future paths, find it and trade it to the Dean for a cookie
section
    img(src="https://i.imgur.com/pgONwPu.jpeg", alt="Temporal Engineering Building", class="small-img")
    img(src="https://i.imgur.com/qg6FNJ8.jpeg", alt="Eternal Flame", class="small-img")