doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Pencil Pushing
body
    h1 Nathan Marquis
    h2 Pencil Pushing
    section 
        h2 Location 
        p Lorem ipsum
    section 
        h2 About 
            section 
                h3 First thing
                p Lorem ipsum
            section 
                h3 Second thing
                p Lorem ipsum
            section 
                h3 Third thing
                p Lorem ipsum
    section
        h2 Things To Do
        ul
            li First thing
            // List of a couple things to do 
        // 2 images showing how cool the university is
        a(href='/s1comments') Comments
        ul 
            li First comment
            //List of 5 comments from database, else display nothing