doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Pencil Pushing Comments
body
    h1 Comments 
    form(action="/s1add", method="post", id='myForm', onsubmit="setTimeout(function(){window.location.reload();},50);")
            label(for='comment') Add comment:
            input#comment(type='text' name='comment')
            input(type='submit' value='Add')
    ul 
        - for (let i=0; i < comments.length; i++)
                li= comments[i].id + " " + comments[i].comment
                    section
                        form(action="/s1delete", method="post", onsubmit="setTimeout(function(){window.location.reload();},50);")
                            input(type='hidden', name='id' value=comments[i].id)
                            input(type='submit', value='Delete')
                        form(action="/s1edit", method="post", onsubmit="setTimeout(function(){window.location.reload();},50);")
                            input(type='hidden', name='id' value=comments[i].id)
                            input(type='submit', value='Edit')